* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Averta', sans-serif;
    font-size: 20px;
    color: #f5f6fa;
    background-color: #f5f6fa;
    text-rendering: optimizelegibility;
}

.header {
    background-image: linear-gradient(rgba(25, 42, 86, 0.8) 80%, rgba(255, 255, 255, 0.1)), url("https://datax-talent.basecdn.net/telio/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 440px;
    background-attachment: fixed;
}

.heading_main_box a {
    text-align: center;
}

#page {
    color: white;
}

.logo {
    float: left;
    height: 30px;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 280px;
}

.home {
    float: left;
    margin-left: 30px;
    margin-top: 27px;
    color: white;
    position: relative;
}

.home {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transition: border-bottom 0.3s;
}

.home:hover,
.home li a:active {
    border-bottom: 1px solid #FFF;
    color: white;
}

.main_nav {
    float: right;
    list-style: none;
    margin-right: 250px;
    padding: 20px 10px;
    font-weight: normal;
}

.main_nav li {
    display: inline-block;
}

.main_nav li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transition: border-bottom 0.3s;
}

.main_nav li a:hover,
.main_nav li a:active {
    border-bottom: 1px solid #FFF;
}

h1 {
    font-size: 40px;
    color: white;
    line-height: 50px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 100px;
}

.btn {
    text-align: center;
}

.btn {
    padding: 15px 40px;
    margin-top: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid #fff;
    margin-left: 670px;
}

.btn:hover,
.btn:active {
    background-color: white;
}

.title {
    text-align: center;
    max-width: 600px;
    margin: 0px auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.line {
    background-color: #42a7cf;
    width: 70px;
    height: 4px;
    margin: 0px auto;
}

.section--title {
    font-size: 32px;
    color: rgba(72, 84, 96, 1.0);
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 20px;
}

.container {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    max-width: 1000px;
    margin: 0px auto;
}

.over_img {
    width: 1000px;
}

.section {
    color: white;
}

.section-whychoose {
    background-color: #333C58;
    color: #fff;
}

p {
    font-size: 14px;
    color: white;
}

h3 {
    font-size: 15px;
    color: white;
    margin-top: 40px;
}

h2 {
    font-size: 32px;
    color: white;
}

p h3 h2 {
    color: white;
}

.whychoose__item {
    margin-right: 5%;
    float: left;
    text-align: center;
}


/* Tạo ba cột bằng nhau, float cạnh nhau */

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}


/* Clear float khác sau các cột */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.benifits {
    background-color: #333C58;
    margin-top: 40px;
}

.item--desc {
    margin-top: 20px;
}

.title_2 {
    color: white;
    text-align: center;
}

.about a {
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    display: inline-block;
    background-color: #43acd5;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.about {
    padding-bottom: 20px;
    text-align: center;
}

#slidebar {
    padding-left: 5px;
}

.checkbox {
    max-height: 210px;
}

.li {
    box-shadow: rgba(72, 84, 96, 1.0);
    overflow: hidden;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.li2 {
    box-shadow: rgba(72, 84, 96, 1.0);
    overflow: hidden;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.button_apply {
    width: 100%;
    display: block;
    color: #fff;
    font-size: 14px;
    background-color: #333C58;
    border: 1px solid #333C58;
}

.button_apply {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
}

.input_name {
    width: 100%;
    padding: 0.67857143em 1em;
    border: 1px solid #dedede;
}

.icon_search {
    border: 1px solid #dedede;
}

.icon {
    font-family: 'FontAwesome' !important;
    margin-right: 10px;
}

.check-action {
    font-size: 14px;
    padding: 0.3em 0.1em;
}

.title_p {
    float: left;
    margin-top: 20px;
}

.title {
    padding-top: 20px;
}

.column2 {
    float: left;
    padding: 10px;
    

}

.column2.middle {
    width: 50%;
}

.Sales {
    font-size: 24px;
    color: rgba(72, 84, 96, 1.0);
}

.detail_job {
    padding: 15px 0px;
    position: relative;
}

.job_name {
    font-size: 18px;
    color: #3a3f44;
}

.job_name2 {
    color: #3a3f44;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: none;
    word-spacing: 4px;
}

.job_name2 {
    position: relative;
}

.job_name2 {
    display: inline-block;
}

.job_name2 {
    text-decoration: none;
    transition: border-bottom 0.0s;
}

.job_name2:hover,
.job_name2 a:active {
    border-bottom: 2px solid rgba(72, 84, 96, 1.0);
}

.blank {
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 10px;
    color: #42a7cf;
}

.blank:hover {
    color: rgba(72, 84, 96, 1.0);
}

.time_job {
    color: rgba(72, 84, 96, 1.0);
    font-size: 13px;
    font-weight: 500;
}

.btn_job {
    color: #fff;
    background-color: #333C58;
    padding-right: 20px;
    padding-left: 20px;
    top: 30px;
    right: 0px;
    width: 120px;
    border-radius: 3px;
    vertical-align: middle;
}

.btn_job {
    font-size: 13px;
    position: absolute;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}

.jobs {
    margin-left: 30px;
    max-height: 500px;
    overflow: hidden ;
    
}
.jobs2 {
    margin-left: 30px;
    
    
}

.show-more{
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    background-color: #333C58;
    color: white;
    margin-left: 200px;
    width: 300px;
    float: left;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 3px;
    
}


.btn_share {
    display: inline-block;
    text-align: center;
    color: #888;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
}

.share {
    color: rgba(83, 92, 104, 1.0);
    margin-top: 10px;
}

.btn_share.fb:hover {
    background-color: rgba(6, 82, 221, 1.0);
}

.btn_share.google:hover {
    background-color: rgba(234, 32, 39, 1.0);
}

.btn_share.linkedin:hover {
    background-color: rgba(75, 123, 236, 1.0);
}

.btn_share:hover {
    color: white;
}

#footer {
    background-color: #333C58;
    margin-bottom: 10px;
}

.logo_footer {
    float: left;
    height: 70px;
    margin-top: 30px;
}

.copyright {
    text-align: center;
    margin-bottom: 40px;
}

.copyright a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.copyright {
    color: #B7CEB4;
    font-size: 14px;
}

.address {
    width: 100%;
    margin-left: 50px;
    margin-top: 40px;
}

.address b {
    color: #B7CEB4;
    font-size: 14px;
    font-weight: 600;
}

.address p {
    color: #B7CEB4;
    font-size: 14px;
    font-weight: 400;
}

.contact {
    float: left;
}

.mail {
    text-align: center;
}

.mail p {
    color: #B7CEB4;
    font-size: 14px;
    font-weight: 600;
}

.mail a {
    text-decoration: none;
}

.container_header {
    text-align: center;
}

.btn_app_job {
    padding: 15px 40px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #fff;
    text-decoration: none;
    margin-top: 10px;
}

.btn_app_job:hover,
.btn_app_job:active {
    background-color: white;
    color: black;
}

.full_pass {
    color: white;
    font-size: 20px;
    font-weight: 600;
    word-spacing: 15px;
}

.back_home {
    font-size: 14px;
    color: #42a7cf;
    margin-top: 100px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid #42a7cf;
}

.job_detail {
    display: table;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #e5e5e5;
    margin-top: 20px;
    position: relative;
}

.job_detail:after {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 2px;
    background-color: #e5e5e5;
    content: "";
}

.salary {
    float: left;
    padding: 10px 20px;
    color: #747B81;
    font-weight: bold;
    display: block;
    line-height: 25px;
}

.location {
    float: left;
    padding: 10px 20px;
    color: #747B81;
    font-weight: bold;
    display: block;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    line-height: 25px;
}

.date {
    float: left;
    padding: 10px 20px;
    color: #747B81;
    font-weight: bold;
    display: block;
    line-height: 25px;
}



.share_job {
    text-align: center;
    color: #888888;
    font-weight: 500;
    margin-top: 20px;
}

.facebook {
    float: left;
    color: #fff;
    text-decoration: none;
    word-spacing: 5px;
    background-color: #3b5999;
    height: 40px;
    width: 40%;
    border-radius: 3px;
}

.facebook {
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    padding-left: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.gg {
    float: left;
    color: #fff;
    text-decoration: none;
    word-spacing: 5px;
    background-color: #dd4b39;
    height: 40px;
    width: 40%;
    border-radius: 3px;
}

.gg {
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    padding-left: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.relate {
    margin-top: 30px;
}

.relate_name {
    margin-top: 20px;
    font-size: 16px;
}

.usd {
    font-size: 14px;
    font-weight: 700;
    color: #747B81;
}

.name_job2 {
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    color: #42a7cf;
}

.view {
    padding: 10px 120px;
    height: 40px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #333C58;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #333C58;
    ;
    text-decoration: none;
}

.view:hover,
.view:active {
    background-color: #333C58;
    color: white;
}

.job_detail_word {
    margin-top: 20px;
    line-height: 22px;
    text-align: justify;
    width: 100%;
    color: #747B81;
    float: left;
    margin-left: 50px;
}

.job_detail_word p {
    color: #747B81;
    font-size: 14px;
    font-weight: 490;
    line-height: 22px;
    margin-top: 20px;
}

.job_detail_word a {
    text-decoration: none;
    color: #42a7cf;
}

.job_detail_word a:hover {
    color: rgba(39, 60, 117, 1.0);
}

.form_apply {
    float: left;
    margin-left: 50px;
    width: 100%;
}

.input_j input {
    padding: 11px 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 5px;
}

.label {
    color: #666;
    font-size: 14px;
    font-weight: 700;
}

li {
    list-style: square;
}

.column_footer1 {
    width: 25%;
}

.column_footer2 {
    width: 50%;
}

.column_footer3 {
    width: 25%;
}

.sticky {
    background-color: #2c3e50;
    position: fixed;
    z-index: 900;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
}